name: Deploy Documentation

on:
  push:
    branches:
      - main  # 监听主分支推送

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
          cache: 'pip' # 开启 pip 依赖缓存

      - name: Install dependencies
        run: |
          pip install mkdocs-material

      - name: Prepare Workspace
        run: |
          mkdir -p docs
          cp README.md docs/index.md
          cp API.md docs/API.md
          cp -r AppIcon.png docs/
          cp -r images docs/
          echo "trollscript.qzz.io" > docs/CNAME

      - name: Build and Deploy
        run: mkdocs gh-deploy --force